@charset "UTF-8";

/* Paleta de cores

Verde: #49a09d
Lilás: #5f2cb2

*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2cb2;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);

    transition: width .2s, height .2s;
    transition-timing-function: ease;
}

#login > #imagem {
    display: block;
    background: #5f2cb2 url(../imagens/vasco.jpg) no-repeat;
    background-size: cover;
    height: 200px;
    background-position: bottom bottom;
    
}

#login > #formulario {
    display: block;
    padding: 10px;
}

#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

#formulario > p{
    font-size: .8em;
    text-align: center;
}

form > div.campo{
    background-color: #234d4b;
    margin: 3px 0px;
    border-radius: 8px;    
}

label{
    display: none;    
}

div.campo > span{ 
    color: white;
    font-size: 1.5em;
    width: 40px;
    padding: 10px;  
    
}

div.campo > input{
    font-size: 1em;
    border-radius: 8px;
    height: 51px;  
    width: calc(100% - 45px);
    transform: translateY(-1px);
    border: none;
}

form > input[type=submit]{
    display:block;
    font-size: 1em;
    font-weight: bolder;
    width: 100%;
    color: #234d4b;
    border: none;
    border-radius: 5px;
    background-color: #49a09d;
    cursor: pointer;
    margin-bottom: 5px ;
    height: 30px;
}

form > input[type=submit]:hover{
    background-color: #234d4b;
    color:white;
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    background-color: #8a41ff;
    color: #341861;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bolder;
    height: 30px;
    padding-top: 4px;
}

form > a.botao:hover{
    color: white;
    background-color: #341861;
}

form > a.botao > span{
    font-size: 1em;
}